@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

/*                           */
/*                           */
/*                           */
/*                           */
/*                           */
/* CSS da barra de navegação */
/*                           */
/*                           */
/*                           */
/*                           */
/*                           */

header{
  margin: 0;
  width: 100vw; /* Define o tamanho do elemento para ocupar toda a tela no eixo X */
  height: 80px; /* Define a altura do elemento */
  border: solid 0px; /* Espessura e tipo da borda */
  border-radius: 0 5px 0 5px; /* Arredondamento da borda */
  /* Esses de baixo deixam os elementos alinhadinhos no eixo X */
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: #1d2b4e; /* cor de fundo do elemento */
  color:rgb(255, 255, 255); /* cor do texto do elemento */
}

/* Organiza a lista de 'links' da barra de navegação */
header ul{
  width: 50%;
  height: 50%;
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none; /* remove o "*" dos links */
}

header li{
  cursor: pointer; /* quando passa o mouse em cima, o cursor é a mãozinha com o indicador */
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #f1f1f1;
}

header li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header a{
  color: white;
  text-decoration: none; /* remove a barrinha de baixo dos links que vêm por padrão */
}

h1{
  color: white;
}

h1::selection, form label::selection{
  background-color: white;
  color: #0c1729;
}